// Navbar

.navbar {
  border-style: solid;
  border-width: 2px;
//   border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;

  &.bg-light {
    border-color: $gray-800;
  }

//   &.fixed-top {
//     border-width: 0 0 2px;
//     border-radius: 0 25px 225px 0/25px 0 25px 255px;
//   }

//   &.fixed-bottom {
//     border-width: 2px 0 0;
//     border-radius: 255px 25px 0 25px/25px 225px 25px 0;
//   }

  &-brand {
    font-family: $headings-font-family;
    font-weight: 400;
    text-decoration: none;
  }
}

// Buttons

.btn {
  text-decoration: none;
  border-radius: $border-radius-sketchy;

  &-lg {
    border-radius: $border-radius-lg-sketchy;
  }

  &-sm {
    border-radius: $border-radius-sm-sketchy;
  }
}

.btn-check {
  display: none;
}

// Typography

button,
input,
optgroup,
select,
textarea {
  font-family: $font-family-sans-serif;
}

blockquote {
  border-radius: 15px 27px 25px 25px/25px 25px 305px 635px;
}


// Navs

.dropdown-menu {
	overflow: hidden;
	border-radius: 555px 25px 25px 25px/25px 25px 25px 555px;
  }
  
  .dropdown-divider {
	border-top-width: 2px;
  }
  
  .list-group {
	overflow: hidden;
	background-color: $gray-800;
	border: 2px solid $gray-800;
	border-radius: 45px 15px 35px 5px/15px 5px 15px 65px;
  
	&-item {
	  border-top: 2px solid $gray-800;
	  border-right: none;
	  border-left: none;
	  border-radius: 255px 5px 225px 5px/25px 225px 25px 255px;
  
	  &:first-child {
		border-top: none;
	  }
  
	  &:last-child {
		border-bottom: none;
	  }
	}
  }
  
  .nav-pills .nav-link {
	border-radius: $border-radius-sketchy;
  }
  
  .nav-link,
  .page-link,
  .list-group-item,
  .dropdown-item {
	text-decoration: none;
  }
  
  .nav-tabs {
	.nav-link {
	  border-radius: 45px 15px 225px 5px/25px 225px 25px 255px;
	}
  }
  
  .breadcrumb {
	border: 2px solid $gray-800;
	border-radius: $border-radius-sketchy;
  }
  
  .pagination {
	.page-link {
	  border-radius: 425px 255px 25px 25px/25px 25px 5px 25px;
	}
  }


// Containers

.card {
	border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
  
	&-outline {
	  &-primary,
	  &-success,
	  &-info,
	  &-warning,
	  &-danger {
		border-width: 2px;
	  }
	}
  
	&-header {
	  border-color: inherit;
	  border-bottom-width: 2px;
  
	  &:first-child {
		border-radius: 3px 3px 0 0/23px 23px 0 0;
	  }
	}
  
	&-footer {
	  border-top-width: 2px;
	}
  }
  
  .toast {
	border-radius: 10px 10px 15px 5px/5px 15px 5px 15px;
  
	&-header {
	  font-family: $headings-font-family;
	}
  }
  
  .modal {
	&-content {
	  border-radius: 15px 5px 5px 25px/5px 25px 25px 5px;
	}
  }
  
  .popover {
	padding: 0;
	border-radius: 45px 85px 15px 25px/15px 10px 35px 555px;
  
	&-title {
	  border-bottom: 2px solid $gray-800;
	}
  
	&.bs-popover-start::before,
	&.bs-tether-element-attached-right::before {
	  right: -13px;
	}
  
	&.bs-popover-top::before,
	&.bs-tether-element-attached-bottom::before {
	  bottom: -13px;
	}
  
	&.bs-popover-bottom::before,
	&.bs-tether-element-attached-top::before {
	  top: -13px;
	}
  
	&.bs-popover-end::before,
	&.bs-tether-element-attached-left::before {
	  left: -13px;
	}
  }
  
  .tooltip {
	&-inner {
	  border-radius: $border-radius-sm-sketchy;
	}
  }
  
  pre {
	border: 2px solid $gray-800;
	border-radius: 15px 5px 5px 25px/5px 25px 25px 5px;
  }
  
  .btn-close {
	background-image: none;
  
	&::before {
	  position: absolute;
	  top: .8rem;
	  right: 1rem;
	  content: "X";
	}
  }
  
  .img {
	&-thumbnail {
	  border-radius: $border-radius-sketchy;
	}
  }
  