@media (min-width: 768px) {
  .projects-header {
    margin: 0 auto !important;
  }
}

@media (min-width: 1200px) {
  .projects-header {
    width: 1100px !important;
  }
}

@media (min-width: 1400px) {
  .projects-header {
    width: 1200px!important;
  }
}
